<ion-header>
</ion-header>

<ion-content class="background-image" overflow-scroll="true">
  <div class="wrap"  fxLayout="column" fxLayoutAlign="center center">
  <img class="logo" src="../../assets/img/logo/logo-ljubicasti-01.png"/>
  <ion-card class="login-kartica">
  <ion-card-content class="wrapper">
  <div class="forma">
  <form>
    <ion-item lines="full">
      <ion-label class="label" position="floating" >Username</ion-label>
      <ion-input class="input-text" type="text" [(ngModel)]="this.username" name ="username" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label class="label" position="floating" >Password</ion-label>
      <ion-input class="input-text" type="password"  [(ngModel)]="this.password" name="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="login-button" color="ion-color-favorite" expand="block" (click)="login()">Log in</ion-button>
      </ion-col>
    </ion-row>
  </form>
  </div>
</ion-card-content>
</ion-card>
<div fxLayout="column" fxLayoutAlign="end center" >
  <ion-label class="sign" position="end">By Nevena, Nikolina and Stefan</ion-label>
</div>
</div>

</ion-content>
