<ion-header no-border>
  <ion-toolbar class="head" >
    <ion-title class="ion-text-center">Izbor pobednika</ion-title>
    <ion-buttons>
      <ion-icon name="arrow-back-outline" (click)="dismissModal()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image"  fxLayout="column" fxLayoutAlign="center center" >
  <div class="sadrzaj">
    <ion-card class="kreiraj-kartica" fxLayout="column" fxLayoutAlign="center center">
      <ion-card-header>
        <ion-card-title class="naslov">
          {{aktivnoDarivanje.naziv}}
        </ion-card-title>
      </ion-card-header>
      <ion-card-content class="wrapper">
      <div fxLayout="column" fxLayoutAlign="space-around center" >
      <ion-label>Broj prijavljenih učesnika: </ion-label>
      <ion-label class="prijavljeni">{{brojPrijavljenih}}</ion-label>
      <ion-button (click) = "izaberiPobednika()">Izaberi pobednika</ion-button>
      </div>
    </ion-card-content>
    </ion-card>
    <div fxLayout="column" fxLayoutAlign="space-around center" >
      <ion-row *ngIf="pobednik !== undefined">
        <ion-col>
          <ion-label class = "pobednik">Pobednik je: </ion-label>
          <ion-label>{{pobednik}}</ion-label>
        </ion-col>
      </ion-row>
  </div>
  </div>

</ion-content>
