<ion-content class="background-image">

  <div class="header" fxLayout="row" fxLayoutAlign="space-arround center">
    <div class="score">
      <div class="followers" fxLayout="column" fxLayoutAlign="center space-evenly">
        <label class="numbers">50,000</label>
        <label class="textinfo">Already entered</label>
      </div>
    </div>
    <div class="wrap"  fxLayout="column" fxLayoutAlign="center center">
      <img  class="photo" src="./assets/dunja.jpg" alt="">
      <label class="username">imfashionbabe</label>
    </div>
    <div class="info" fxLayout="column" fxLayoutAlign="space-around center" >
      <div class="posts" fxLayout="column" fxLayoutAlign="space-evenly center">
        <label class="numbers">2,181</label>
        <label class="textinfo">Posts</label>
      </div>
      <div class="followers" fxLayout="column" fxLayoutAlign="space-evenly center">
        <label class="numbers">300K</label>
        <label class="textinfo">Followers</label>
      </div>
      <div class="following" fxLayout="column" fxLayoutAlign="space-evenly center">
        <label class="numbers">889</label>
        <label class="textinfo">Following</label>
      </div>

    </div>
    </div>
    <div class="content" fxLayout="column" fxLayoutAlign="center center">
      <label class="title">Osvoji Bebe by Dunja!</label>
      <div class="lista">
      <div fxLayout="row" fxLayoutAlign="start center" >
        <img  class="photon" src="./assets/bebedol.jpg" alt="">
        <label class="name">Nagrada #1</label>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center" >
        <label class="name">Nagrada #2</label>
        <img  class="photon" src="./assets/7am.jpg" alt="">
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" >
        <img  class="photon" src="./assets/6am.jpg" alt="">
        <label class="name">Nagrada #3</label>
      </div>
    </div>
    <div class="dugmence" fxLayout="row" fxLayoutAlign="end center">
        <ion-button class="enter-button" expand="block" >Enter giveaway</ion-button>
    </div>
    </div>
</ion-content>
