<ion-content class="background-image">

  <div class="profile-photo">
    <div class="wrap" fxLayout="column" fxLayoutAlign="center center">
      <img class="photo" src="./assets/ucesnik.jpg" alt="">
      <label class="username">pcelicamaja</label>
    </div>
    <div class="info" fxLayout="row" fxLayoutAlign="space-evenly center">
      <div class="posts" fxLayout="column" fxLayoutAlign="space-evenly center">
        <label class="numbers">70</label>
        <label class="textinfo">Posts</label>
      </div>
      <div class="followers" fxLayout="column" fxLayoutAlign="space-evenly center">
        <label class="numbers">1000</label>
        <label class="textinfo">Followers</label>
      </div>
      <div class="following" fxLayout="column" fxLayoutAlign="space-evenly center">
        <label class="numbers">500</label>
        <label class="textinfo">Following</label>
      </div>

    </div>
  </div>
  <div class="content" fxLayout="column" fxLayoutAlign="center center">
    <ion-fab>
      <ion-fab-button color="light">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button color="light" (click)="enterUrl()">
          <ion-icon name="link"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="end">
        <ion-fab-button color="light">
          <ion-icon name="heart"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="bottom">
        <ion-fab-button color="light" (click)="logout()">
          <ion-icon name="log-out-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
      <ion-fab-list side="start">
        <ion-fab-button color="light">
          <ion-icon name="timer-outline" (click)="openHistoryModal()"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
  </div>
</ion-content>
