.background-image{
  --background: url("../../assets/img/backgrounds/DarivanjeApp-01.jpg") 0 0/100% 100% no-repeat;
}

.customToolbar{
  --background: rgba(255, 255, 255,0);
  position: absolute;
  top: 0;
  border: none;
}

.ion-text-center{
  color: white;
}

.header-ios ion-toolbar:last-of-type {
  --border-width: 0 0 0px;
}
