<ion-header>
  <ion-toolbar class="customToolbar" >
    <ion-back-button defaultHref="/admin-dashboard" slot = "start" color="light"></ion-back-button>
    <ion-title class="ion-text-center">Na čekanju</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image"  fxLayout="column" fxLayoutAlign="center center" >
  <ion-list class="list" *ngIf="darivanja.length > 0">
      <ion-card *ngFor="let d of darivanja">
        <ion-card-header>
          <ion-card-title>{{ d.naziv }}</ion-card-title>
          <ion-label>{{d.kreiranOd.username}}</ion-label>
        </ion-card-header>
        <ion-card-content>
          <ion-label>{{ d.opis }}</ion-label>
          <p></p>
          <ion-button color="ion-color-favorite" class="btnOdobri" (click)="approveGivaway(d)">Odobri</ion-button>
          <ion-button color="ion-color-favorite" class="btnOdbaci" (click)="notApproveGiveaway(d)">Odbaci</ion-button>
        </ion-card-content>
      </ion-card>
</ion-list>
  <ion-card *ngIf="darivanja.length <=  0" class = "no-data-card">
    <ion-card-content>
      <ion-label>Nemate darivanja na čekanju.</ion-label>
    </ion-card-content>
  </ion-card>
<ion-router-outlet id = "main"></ion-router-outlet>
</ion-content>
