<ion-header>
</ion-header>


<ion-content class="background-image" overflow-scroll="true">

  <div class="wrap"  fxLayout="column" fxLayoutAlign="center center">
      <img class="logo" src="../../assets/img/logo/logo-ljubicasti-01.png"/>
      <ion-card class="login-kartica">
      <ion-card-content class="wrapper">
      <div class="forma">
          <form>
          </form>
          <ion-list>
            <ion-radio-group>
              <ion-list-header>
                <ion-label>Uloguj se kao:</ion-label>
              </ion-list-header>

              <ion-item>
                <ion-label>Influenser</ion-label>
                <ion-radio slot="start" value="biff" checked></ion-radio>
              </ion-item>

              <ion-item>
                <ion-label>Korisnik</ion-label>
                <ion-radio slot="start" value="griff"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
          <ion-row>
          <ion-col>
            <ion-button class="login-button" color="ion-color-favorite" expand="block">Log in</ion-button>
          </ion-col>
        </ion-row>
      </div>
    </ion-card-content>
    </ion-card>
    <div fxLayout="column" fxLayoutAlign="end center" >
      <ion-label class="sign" position="end">By Nevena, Nikolina and Stefan</ion-label>
    </div>
    </div>

</ion-content>
